#MacOS
.DS_Store

#PyCache
__pycache__/
*.pyc

#Virtual Environment
ahc_cnn_venv/

#Directory Structure
Real_Time_Hand_Gesture_Game_Control_Project_Structre.txt

#Demo Video
Demo-Real-Time-Hand-Gesture-Controller.mp4